<div class="signin">
<h1>Sign In</h1>
 <%= form_for @user, url: "/sessions", method: "post" do |f| %>
 <br />
 <div class="signinform">
 <%= f.text_field :email, placeholder: "Email" %>
 </div>
 <div class="signinform">
<%= f.password_field :password, placeholder: "Password" %>
 </div>
 <div class="signinform">
 <%= f.submit "Sign In" %>
  </div>
 <% end %>
 <div>