header {
  background: green;
  padding: 40px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}

.left-nav {
  float: left;
  margin: 10px 0px 10px 10px;

}

.right-nav {
  float: right;
  margin: 10px 0px 10px 10px;
}