
<% @products.each do |p| %>

<ul class="allproducts">
	<li>Description: <%=p.description %> <br /></li>
	<li>Category: <%=p.category %> <br /></li>
	<li>Available:<%=p.available %> <br /></li>

</ul>


<%end%>