


<% @products.each do |p| %>
<% @product.user.each do |u| %>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
            	  <div class="span9">
                <%=u.firstname %> 
	Description: <%=p.description %> <br />
	Category: <%=p.category %> <br />
	Available:<%=p.available %> <br />

	<button>Email Bakr</button>
				  </div>
            </div>
        </div>
    </div>
</div>

<%end%>
<%end%>