<h1> Welcome to BakR </h1>

<!-- <h2> Find the treats you can eat from BakR's down the street </h2>

<h3> BakR connects everyday home bakers to sweet  -->

<h1> Categories </h1>


<div class='categories-box'>
			<div class="frontpageproduct" id="frontpageproduct1">
			<l1> Regular </l1> </br />
			</div>
			<div class="frontpageproduct" id="frontpageproduct2">
			<l1> Organic </l1> </br />
			</div>
			<div class="frontpageproduct" id="frontpageproduct3">
			<l1> Gluton Free </l1> </br />
			</div>
			<div class="frontpageproduct" id="frontpageproduct4">
			<l1> Vegan </l1>

			</div>

</div>

