<div class="container">
  <div class="jumbotron">
    <h1>Welcome to BakR</h1> 
    <p>Sell and find baked things here.</p> 
  </div>
  <h1> Categories </h1>

  <div class='categories-box'>
			<div class="col-xs-6">
			<%= link_to "Regular", regular_path %>
			</div>
			<div class="col-xs-6">
			<%= link_to "Organic", organic_path %>
			</div>
			<div class="col-xs-6">
			<%= link_to "Gluton Free", glutonfree_path %>
			</div>
			<div class="col-xs-6">
			<%= link_to "Vegan", vegan_path %>
			</div>


</div>

<!-- <h2> Find the treats you can eat from BakR's down the street </h2>

<h3> BakR connects everyday home bakers to sweet  -->





